.storybook-pagination-button {
  cursor: pointer;

  transition:
    background-color 160ms ease,
    color 160ms ease,
    box-shadow 160ms ease;
}

.storybook-pagination-button:focus-visible {
  outline: none;
}

.storybook-pagination-button:disabled {
  cursor: not-allowed;
}
