.pagination-story-surface,
.pagination-story-stack,
.pagination-story-buttons {
  display: flex;
  gap: var(--spacing_4);
}

.pagination-story-surface {
  width: 100%;

  align-items: stretch;
  flex-direction: column;

  padding: var(--spacing_6);

  box-sizing: border-box;
}

.pagination-story-stack {
  flex-direction: column;
  align-items: stretch;
}

.pagination-story-buttons {
  flex-wrap: wrap;
}
