.help-icon-story-grid,
.help-icon-story-stack {
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-icon-story-grid {
  gap: var(--spacing_4);
}

.help-icon-story-stack {
  flex-direction: column;
  gap: var(--spacing_16);

  min-width: 320px;
  padding: var(--spacing_16);
}

.help-icon-story-stack--wide {
  gap: var(--spacing_24);
  min-width: 460px;
}

.help-icon-story-row {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 360px;
  min-height: 72px;
}
