.settings-panel-story-grid {
  min-height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing_8);

  padding: var(--spacing_6);

  background: var(--neutral_100);
}

.settings-panel-item-story-grid {
  display: grid;
  grid-template-columns: repeat(2, 285px);
  gap: 68px 86px;

  padding: var(--spacing_5);
}
