.top-navigation-story-surface {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--spacing_8);

  background: var(--neutral_100);
}

.top-navigation-item-story-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: var(--spacing_5) var(--spacing_4);

  padding: var(--spacing_5);
}
