.storybook-modal-story-grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing_6);
  align-items: stretch;
}

.storybook-modal-story-grid > div {
  min-height: 180px;
  padding: var(--spacing_6);
}
