.storybook-modal__backdrop {
  background: color-mix(in srgb, var(--neutral_100) 70%, transparent);
}

button.storybook-modal__close-button {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
}
