:root {
  --font_family_base: var(--font_family_text, 'Figtree', system-ui);

  /* Display */
  --type-display-2xl-size: 72px;
  --type-display-2xl-line: 88px;
  --type-display-2xl-letter: -0.02em;

  --type-display-xl-size: 60px;
  --type-display-xl-line: 72px;
  --type-display-xl-letter: -0.02em;

  --type-display-lg-size: 48px;
  --type-display-lg-line: 60px;
  --type-display-lg-letter: -0.02em;

  --type-display-md-size: 36px;
  --type-display-md-line: 44px;
  --type-display-md-letter: -0.02em;

  --type-display-sm-size: 30px;
  --type-display-sm-line: 40px;
  --type-display-sm-letter: 0em;

  --type-display-xs-size: 24px;
  --type-display-xs-line: 32px;
  --type-display-xs-letter: 0em;

  /* Text */
  --type-text-xl-size: 20px;
  --type-text-xl-line: 32px;
  --type-text-xl-letter: 0em;

  --type-text-lg-size: 18px;
  --type-text-lg-line: 28px;
  --type-text-lg-letter: 0em;

  --type-text-md-size: 16px;
  --type-text-md-line: 24px;
  --type-text-md-letter: 0em;

  --type-text-sm-size: 14px;
  --type-text-sm-line: 20px;
  --type-text-sm-letter: 0em;

  --type-text-xs-size: 12px;
  --type-text-xs-line: 16px;
  --type-text-xs-letter: 0em;
}
