.storybook-toggle {
  display: inline-flex;
  align-items: center;

  cursor: pointer;

  transition:
    background-color 160ms ease,
    box-shadow 160ms ease;
}

.storybook-toggle:focus-visible {
  outline: none;
}

.storybook-toggle:disabled {
  cursor: not-allowed;
}

.storybook-toggle__thumb {
  display: block;

  transition: transform 160ms ease;
}

.storybook-toggle--sm.storybook-toggle--pressed
.storybook-toggle__thumb {
  transform: translateX(16px);
}

.storybook-toggle--mid.storybook-toggle--pressed
.storybook-toggle__thumb {
  transform: translateX(20px);
}
