.datepicker-story-row,
.datepicker-story-grid,
.datepicker-story-list-grid {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing_4);
}

.datepicker-story-row {
  max-width: 320px;
  flex-wrap: wrap;
}

.datepicker-story-grid,
.datepicker-story-list-grid {
  flex-direction: column;
}

.datepicker-story-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 160px);
}
