button.storybook-datepicker__nav-button,
button.storybook-datepicker__title-button,
button.storybook-datepicker-list-item,
button.storybook-datepicker-day {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
}

.storybook-datepicker {
  animation: storybook-datepicker-enter 150ms ease-out;
  transform-origin: top center;
}

@keyframes storybook-datepicker-enter {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--spacing_1) * -1)) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
