@import './sliderTrack.css';

input[type='range'].storybook-slider__input {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
}

.storybook-slider__steps {
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  z-index: 2;
  height: 6px;
  pointer-events: none;
  transform: translateY(-50%);
}

.storybook-slider__step {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.storybook-slider__thumb {
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 24px;
  height: 24px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.storybook-slider__control:has(.storybook-slider__input:focus-visible) .storybook-slider__thumb {
  box-shadow: var(--shadow_md), var(--shadow_focus-brand);
}

.storybook-slider--dotted .storybook-slider__thumb::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--brand_400);
  transform: translate(-50%, -50%);
  content: '';
}

.storybook-slider--disabled.storybook-slider--dotted .storybook-slider__thumb::after {
  background-color: var(--brand_100);
}

.storybook-slider__value-label {
  position: absolute;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
}

.storybook-slider__value-label--top {
  bottom: 36px;
}

.storybook-slider__value-label--bottom {
  top: 36px;
}

.storybook-slider__floating-label {
  position: absolute;
  left: 50%;
  display: inline-flex;
  align-items: center;
  transform: translateX(-50%);
}

.storybook-slider__floating-label--top {
  bottom: 32px;
  flex-direction: column;
}

.storybook-slider__floating-label--bottom {
  top: 32px;
  flex-direction: column-reverse;
}

.storybook-slider__floating-label-arrow {
  width: 16px;
  height: 8px;
  overflow: hidden;
}

.storybook-slider__floating-label-arrow::before {
  display: block;
  width: 12px;
  height: 12px;
  margin: -7px auto 0;
  background: currentColor;
  transform: rotate(45deg);
  content: '';
}

.storybook-slider__floating-label-arrow--bottom::before {
  margin: 3px auto 0;
}
