.storybook-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;

  cursor: pointer;

  text-decoration: none;

  transition:
    background-color 160ms ease,
    border-color 160ms ease,
    box-shadow 160ms ease,
    color 160ms ease,
    transform 160ms ease;
}

.storybook-button:focus-visible {
  outline: none;
}

.storybook-button:disabled {
  cursor: not-allowed;
}

.storybook-button__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storybook-button__icon--left,
.storybook-button__icon--right {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  flex-shrink: 0;
}

.storybook-button__icon--left svg,
.storybook-button__icon--right svg {
  width: 20px;
  height: 20px;

  display: block;
}

.storybook-button__label {
  display: flex;
  align-items: center;
}
