.storybook-sidebar-story-surface {
  min-height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing_10);

  padding: var(--spacing_8);

  background: var(--neutral_100);
}

.storybook-sidebar-story-states {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing_5) var(--spacing_16);

  padding: var(--spacing_5);
}
