.storybook-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;

  cursor: pointer;

  transition:
    background-color 160ms ease,
    border-color 160ms ease,
    box-shadow 160ms ease;
}

.storybook-checkbox:active {
  border-style: solid;
  transform: none;
}

.storybook-checkbox:focus-visible {
  outline: none;
}

.storybook-checkbox:disabled {
  cursor: not-allowed;
}

.storybook-checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 160ms ease;
}
